:root {
    --white: #FFFFFF;
    --dark: #212121;
    --primary: #0097A7;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header {
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
    margin-bottom: 2.5rem;
}

.title {
    margin: 0;
    text-align: center;
    color: var(--white);
}

.subtitle {
    text-align: center;
    color: var(--white);
    margin-bottom: 1rem;
}

.content {
    margin-bottom: 3.5rem;
}

.text{
    text-align: center;
}

.table {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.table div {
    width: 50rem;
    text-align: center;
}

.table img {
    width: 50rem;
    height: 30rem;
}

.footer {
    padding: 3rem;
    background-color: var(--primary);
}

.last {
    color: white;
    text-align: center;
    margin: 0;
}
