header{
    background-color: greenyellow;
}

.titulo{
    text-align: center;
}
.subtitulo{
    text-align: center;
}
.amarillo{ 
    background-color: yellow;
} 
.parrafo{
    text-align: center;
}
.imagen{
    text-align: center;
    background-color: aqua;
}
.ordenador{
    width: 500px;
    ;
}
.ultimo{
    text-align: center;
}